{% block blog %}
<!-- blog post start -->
<h2 class="mb-4 mt-12 font-serif text-3xl font-bold">Blog Posts</h2>
<section class="inline-block p-4 hover:bg-gray-200 rounded">

    <div class="mb-1">
        <div class="flex-grow text-gray-800 font-serif text-lg font-semibold">Lineage. A Journey
            into Family Roots and Connections</div>
        <div class="my-2 text-sm italic font-light md:my-0"><time datetime="2023-12-11T11:00:00.000Z">Dec 11,
                2023</time></div>
    </div>
    <div>Lineage is a project born out of the desire to create a centralized platform for
        connecting with family members, exploring family trees, and preserving cherished.....
        <a class="text-blue-600 text-lg" target=”_blank”
            href="https://medium.com/@joel_Muhoho/lineage-a-journey-into-family-roots-and-connections-3bc375684455">Read
            More</a>
    </div>
</section>
<section class="inline-block p-4 hover:bg-gray-200 rounded">

    <div class="mb-1">
        <div class="flex-grow text-gray-800 font-serif text-lg font-semibold">WordPress site
            incident report</div>
        <div class="my-2 text-sm italic font-light md:my-0"><time datetime="2023-11-10T13:00:00.000Z">Nov 10,
                2023</time></div>
    </div>
    <div>Our WordPress site experienced a critical issue following a configuration update in the
        wp-settings file, resulting in a widespread 500 error for most user requests. The
        incident occurred on November 4, 2023, from.....
        <a class="text-blue-600 text-lg" target=”_blank”
            href="https://medium.com/@joel_Muhoho/wordpress-site-incident-report-0e6cc5fe3102">Read More
        </a>
    </div>
</section>
<section class="inline-block p-4 hover:bg-gray-200 rounded">
    <div class="mb-1">
        <div class="flex-grow text-gray-800 font-serif text-lg font-semibold">What happens when
            you type google.com in your browser and press Enter</div>
        <div class="my-2 text-sm italic font-light md:my-0"><time datetime="2023-10-12T014:00:00.000Z">OCT 12,
                2023</time></div>
    </div>
    <div>https://google.com is a Uniform Resource Locator (URL). it can be divided into two
        parts.

        https -> hypertext transfer protocol secure. it is an application layer protocol (rules)
        used to communicate.....
        <a class="text-blue-600 text-lg" target=”_blank”
            href="https://medium.com/@joel_Muhoho/what-happens-when-you-type-google-com-in-your-browser-and-press-enter-4132319792a9">Read
            More
        </a>
    </div>
</section>
<!-- blog post end -->

{% endblock%}